streamlit
pandas
schedule
pytz
instagrapi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
selenium
streamlit-extras
streamlit-aggrid
plotly
openai
python-dotenv
httpx
